:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}



.toolbar {
    width: 100%;
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding-left: 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* This adds a light bottom shadow */
}

.app {
    width: 100vw;
    height: 100vh;
}

.search-form .input-group {
    position: relative;
}

.search-input {
    padding-right: 80px; /* Adjust based on the width of your button */
}

.search-button {
    position: absolute;
    top: 50%;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.react-flow-container {
    width: 100%;
    height: 600px;
}

.react-flow__node-default textarea {
    pointer-events: none;
  }

.react-flow__minimap {
    right: auto !important;  /* reset the default right positioning */
    left: 10px !important;   /* set to left */
}

.react-flow__controls {
    bottom: auto !important;  /* reset the default bottom positioning */
    right: auto !important;   /* reset the default right positioning */
    top: 10px !important;     /* position from the top */
    left: 10px !important;   /* position from the left */
}

.react-flow {
    width: 100%;
    height: 100%;
}