body {
    background-color: #f5f5f5;
}

.papers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 100px 100px 0 100px;
    height: 100vh;
    overflow: scroll;
}

.paper {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s;
    height: 300px;

    &:hover {
        transform: scale(1.05);
    }
}

.paper h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.paper p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.search-container {
    width: 90%; /* Adjust as per requirement */
    margin: 0 auto; /* Center it */
}

.top-bar {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrolled .top-bar {
    background-color: #000;
    color: #fff;
}

.top-bar {
    /* ... */
    opacity: 1;  /* Initially visible */
    transition: opacity 0.3s;  /* Adjust the transition */
}


.scrolled .top-bar {
    /* ... */
    opacity: 1;  /* Fully visible when scrolled */
}

.papers-grid::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari and Opera */
}

.papers-grid {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* ... */
}

.no-papers-message {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    flex-direction: column;  /* stack logo and text vertically */
}

.logo {
    float: left; 
    width: 100px;  /* adjust as needed */
    height: auto;
}

.info-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 20px;
}
