
.slider .MuiSlider-markLabel {
    font-size: 0.5rem !important;
    white-space: normal;    /* Enable text wrapping */
    text-align: center;     /* Optional: To center-align the wrapped text */
    max-width: 80px;        /* Set a maximum width for the label */
    line-height: 1.2;       /* Adjust line height for readability */
  }


.sidebar {
    width: 40%; /* or whatever width you want when expanded */
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 20px;
    padding-left: 20px;
    transition: width 0.3s ease; /* smooth transition effect */
    position: absolute;
    right: 0;
    z-index: 10;

}

.sidebar > .content-box {
    max-width: 100%;
}

.sidebar > button {
    font-size: 50px;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    line-height: 40px ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
}

.sidebar.collapsed {
    width: 40px !important;  /* width when collapsed */
}

h3 {
    font-size: smaller;
}
p {
    font-size: 12px;
}
a {
    font-size: 12px;
    text-decoration: none !important;
    color: cadetblue !important;
}

.keyword-link {
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

.keyword-link:hover {
    color: #0056b3;
}
